<label for="Tonality">Cadence:</label>
<div class="select-wrap">
    <select name="tonality" id="Tonality" class="input w-full">
        <optgroup label="Major">
            <option value="major,1451" selected>I IV V I</option>
            <option value="major,1251">I ii7 V7 I</option>
            <option value="major,1441">I IV iv I</option>
        </optgroup>
        <optgroup label="Minor">
            <option value="minor,1451">i iv v i</option>
            <option value="minor,14571">i iv V7 i</option>
        </optgroup>
    </select>
</div>