<header class="z-50 sticky top-0 border-b-2 border-theme-text h-16 w-full bg-theme-bg">
    <div class="container grid grid-cols-2 md:grid-cols-3 px-4 h-full mx-auto">
        <div class="flex items-center">
            <div class="flex items-center">
                <label for="Level" class="font-bold text-2xl mr-2">Level:</label>
                <select id="Level" name="level" class="input">
                    <optgroup label="Practice">
                        <option value="0" selected>Practice Mode</option>
                    </optgroup>
                    <optgroup label="Beginner">
                        <option value="1">Beginner: 1</option>
                        <option value="2">Beginner: 2</option>
                        <option value="3">Beginner: 3</option>
                    </optgroup>
                    <optgroup label="Intermediate">
                        <option value="4">Intermediate: 4</option>
                        <option value="5">Intermediate: 5</option>
                        <option value="6">Intermediate: 6</option>
                    </optgroup>
                    <optgroup label="Advanced">
                        <option value="7">Advanced: 7</option>
                        <option value="8">Advanced: 8</option>
                        <option value="9">Advanced: 9</option>
                    </optgroup>
                </select>
            </div>
        </div>
        <div class="text-center items-center justify-center hidden md:flex">
            <h1 class="text-2xl font-bold tracking-wider">Colorful Ear Trainer</h1>
        </div>
        <div class="flex items-center justify-end">
            <label for="DarkMode" class="mr-1">Dark Mode:</label>
            <label class="toggle">
                <input id="DarkMode" name="darkmode" type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>
    </div>
</header>