<modal-content id="Instructions" class="fixed z-50 inset-0 overflow-y-auto hidden" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>

    <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

    <div
      class="inline-block align-bottom bg-theme-bg rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
      <div class="bg-theme-bg text-theme-text p-4">
        <div class="sm:flex sm:items-start">
          <div>
            <div class="text-2xl font-bold mb-4 pb-4 border-b-2 border-theme-text">Instructions:</div>
            <ol class="list-decimal ml-4 space-y-2 flex-grow">
              <li>Press PLAY, the cadence will play in the selected key.</li>
              <li>Select the amount of notes that play after the cadence.</li>
              <li>Play back the notes you hear after the cadence with the keyboard.</li>
              <li>If you don't answer within the time limit, your answer is marked as wrong and your streak ends.</li>
              <li>You can play with the computer keyboard. Type the note name and use Right Shift Key for '#' or Left Shift Key for 'b'.</li>
              <li>When switching from "Play" mode to "Practice" mode, the options from the level persist. You can then adjust them to work on the level before trying again.</li>
            </ol>
            <div class="pt-4 mt-4 border-t-2 border-theme-bg">
              Suggestions/comments: <a href="mailto:caleb@calebcurtis.com">caleb@calebcurtis.com</a>
              <div class="text-sm mt-4 text-theme-secondary">Inspired by the old Ear Sharpener iOS app and the work of
                Charlie
                Banacos.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</modal-content>