<%- include('_levels.ejs') %>

<div class="mb-2">
    <div id="LevelInfo" class="hidden">
        <div class="grid grid-cols-3 gap-2 py-2">
            <div class="level-attribute">
                <div>Key Center:</div>
                <div data-name="keycenter" data-format="transpose"></div>
                <div data-name="randomkey" data-format="checkmark"></div>
            </div>
            <div class="level-attribute">
                <div>Cadence:</div>
                <div data-name="tonality" data-format="optiontext"></div>
            </div>
            <div class="level-attribute">
                <div>Note Set:</div>
                <div data-name="set" data-format="transpose"></div>
            </div>
            <div class="level-attribute">
                <div>Notes:</div>
                <div data-name="note_count" data-format="integer"></div>
            </div>
            <div class="level-attribute">
                <div>Total Time:</div>
                <div data-name>
                    <span data-name="countdown-minutes" data-format="string"></span>:<span data-name="countdown-seconds"
                        data-format="string"></span>
                </div>
            </div>
            <div class="level-attribute">
                <div>Time Per Note:</div>
                <div data-name="timelimit" data-format="float"></div>
            </div>
            <div class="level-attribute">
                <div>Cadence every:</div>
                <div data-name="cadenceevery" data-format="integer"></div>
            </div>
            <div class="level-attribute">
                <div>Tempo:</div>
                <div data-name="bpm" data-format="integer"></div>
            </div>
            <div class="level-attribute">
                <div>Note Range (Octaves):</div>
                <div data-name="range" data-format="integer"></div>
            </div>
        </div>
    </div>
</div>