<%- include('_levels.ejs') %>
<label for="Level" class="font-bold text-2xl mb-4 pb-4 border-b-2 border-theme-text">Level:</label>
<select id="Level" name="level" class="input mb-4">
    <optgroup label="Beginner">
        <option value="1" selected>Beginner: 1</option>
        <option value="2">Beginner: 2</option>
        <option value="3">Beginner: 3</option>
    </optgroup>
    <optgroup label="Intermediate">
        <option value="4">Intermediate: 4</option>
        <option value="5">Intermediate: 5</option>
        <option value="6">Intermediate: 6</option>
    </optgroup>
    <optgroup label="Advanced">
        <option value="7">Advanced: 7</option>
        <option value="8">Advanced: 8</option>
        <option value="9">Advanced: 9</option>
    </optgroup>
</select>
<div id="LevelInfo" class="grid grid-cols-4">

</div>