<div id="Piano" class="flex-auto min-h-0">
    <svg viewBox="0 0 170 142">
      <rect x="1" y="1" width="24" height="140" rx="2" ry="2" stroke="var(--text-color)" stroke-width="2"
        fill="transparent" data-key="white" data-note="C">
      </rect>
      <rect x="25" y="1" width="24" height="140" rx="2" ry="2" stroke="var(--text-color)" stroke-width="2"
        fill="transparent" data-key="white" data-note="D">
      </rect>
      <rect x="49" y="1" width="24" height="140" rx="2" ry="2" stroke="var(--text-color)" stroke-width="2"
        fill="transparent" data-key="white" data-note="E">
      </rect>
      <rect x="73" y="1" width="24" height="140" rx="2" ry="2" stroke="var(--text-color)" stroke-width="2"
        fill="transparent" data-key="white" data-note="F">
      </rect>
      <rect x="97" y="1" width="24" height="140" rx="2" ry="2" stroke="var(--text-color)" stroke-width="2"
        fill="transparent" data-key="white" data-note="G">
      </rect>
      <rect x="121" y="1" width="24" height="140" rx="2" ry="2" stroke="var(--text-color)" stroke-width="2"
        fill="transparent" data-key="white" data-note="A"></rect>
      <rect x="145" y="1" width="24" height="140" rx="2" ry="2" stroke="var(--text-color)" stroke-width="2"
        fill="transparent" data-key="white" data-note="B"></rect>
      <rect x="18" y="1" width="14" height="90" rx="2" ry="2" stroke="var(--text-color)" stroke-width="2"
        fill="var(--text-color)" data-key="black" data-note="C#,Db"></rect>
      <rect x="42" y="1" width="14" height="90" rx="2" ry="2" stroke="var(--text-color)" stroke-width="2"
        fill="var(--text-color)" data-key="black" data-note="D#,Eb"></rect>
      <rect x="90" y="1" width="14" height="90" rx="2" ry="2" stroke="var(--text-color)" stroke-width="2"
        fill="var(--text-color)" data-key="black" data-note="F#,Gb"></rect>
      <rect x="114" y="1" width="14" height="90" rx="2" ry="2" stroke="var(--text-color)" stroke-width="2"
        fill="var(--text-color)" data-key="black" data-note="G#,Ab"></rect>
      <rect x="138" y="1" width="14" height="90" rx="2" ry="2" stroke="var(--text-color)" stroke-width="2"
        fill="var(--text-color)" data-key="black" data-note="A#,Bb"></rect>
    </svg>
  </div>