<div class="flex flex-col flex-none">
    <button id="Play" class="btn bg-gradient-to-r bg-green-gradient text-xl">PLAY</button>
    <div class="grid grid-cols-2 gap-4 mt-4">
      <button id="PlayCadence" class="btn bg-gradient-to-r from-blue-300 to-blue-200 whitespace-nowrap">Replay Cadence</button>
      <button id="PlayNotes" class="btn bg-gradient-to-r from-blue-300 to-blue-200 whitespace-nowrap">Replay Notes</button>
    </div>
  </div>