
/*==== toggle =====*/

/* The switch - the box around the slider */

.toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */

.toggle input {
    opacity: 0;
    width: 0;
    height: 0;
  }

/* The slider */

.toggle .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
  }

.toggle .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
  }

.toggle input:checked + .slider {
    background-color: #2196F3;
  }

.toggle input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

.toggle input:checked + .slider:before {
    transform: translateX(26px);
  }

@media (prefers-color-scheme: dark) {

  }

/* Rounded sliders */

.toggle .slider.round {
    border-radius: 34px;
  }

.toggle .slider.round:before {
    border-radius: 50%;
  }

.dark-button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -3px;
}

.dark-button:before,
  .dark-button:after {
    box-sizing: border-box;
  }

.dark-button label {
    position: relative;
    display: block;
    width: 45px;
    height: 25px;
    border-radius: 100px;
    background-color: rgb(37, 37, 37);
    overflow: hidden;
    cursor: pointer;
  }

.dark-button label:before,
    .dark-button label:after {
      display: block;
      position: absolute;
      content: "";
      width: 19px;
      height: 19px;
      border-radius: 50%;
      top: 3px;
      left: 3px;
      transition: 0.5s ease;
    }

.dark-button label:before {
      background-color: rgb(241, 190, 80);
    }

.dark-button label:after {
      background-color: rgb(37, 37, 37);
      left: -58px;
      transform: scale(0.00001);
    }

.dark-button input[type="checkbox"] {
    display: none;
  }

.dark-button input[type="checkbox"]:checked + label:before {
        background-color: rgb(100, 190, 158);
        transform: translateX(20px);
      }

.dark-button input[type="checkbox"]:checked + label:after {
        transform: translateX(75px) scale(1);
      }

.mode-toggle{
  background: var(--disabled-bg);
}

.mode-toggle label {
    color: var(--bkg-color);
}

.mode-toggle input:checked + label {
    color: var(--bkg-color);
}