
/*==== toggle =====*/

/* The switch - the box around the slider */
.toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  
  /* Hide default HTML checkbox */
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  @media (prefers-color-scheme: dark) {

  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
}

.dark-button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -3px;

  &:before,
  &:after {
    box-sizing: border-box;
  }

  label {
    position: relative;
    display: block;
    width: 45px;
    height: 25px;
    border-radius: 100px;
    background-color: rgb(37, 37, 37);
    overflow: hidden;
    cursor: pointer;

    &:before,
    &:after {
      display: block;
      position: absolute;
      content: "";
      width: 19px;
      height: 19px;
      border-radius: 50%;
      top: 3px;
      left: 3px;
      transition: 0.5s ease;
    }

    &:before {
      background-color: rgb(241, 190, 80);
    }

    &:after {
      background-color: rgb(37, 37, 37);
      left: -58px;
      transform: scale(0.00001);
    }
  }

  input[type="checkbox"] {
    display: none;

    &:checked + label {
      &:before {
        background-color: rgb(100, 190, 158);
        transform: translateX(20px);
      }

      &:after {
        transform: translateX(75px) scale(1);
      }
    }
  }
}

.mode-toggle{
  background: var(--disabled-bg);
  label{
    @apply text-theme-bg;
  }
  input:checked + label{
    @apply text-theme-bg;
  }
}