@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    font-size: 16px;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

.input {
    @apply border rounded-lg border-black pl-2 rounded-lg;
    min-width: 100px;
}
.btn {
    @apply rounded-lg text-black px-5 py-3 active:text-white active:bg-black font-bold;
}

#background {
    z-index: -1;
}

label {
    @apply block text-sm;
}

svg rect[data-note]{
    @apply cursor-pointer;
}
svg rect[data-note][fill="white"]{
    fill: transparent;
}